body{
    background-color:white;
    display: flex;
    flex-direction: column;
}

.div {
    padding: 170px 130px 229px 190px;
}
.container1 {
    display: grid;
    grid-template-columns: 60% 40%;
    min-width: 100%;
    background-color: blue;
}

.header, .nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 24px;
}
.svg1 {
    margin-top: 18px;
}
.section1 {
    display: flex;
    flex-direction: column;

    gap: 40px;
    
   
}

.logo {
    gap: 5px;
}
.a {
    margin-top: 40px;
    color: #FFA3A3;
}
.card2 {
 
    padding: 30px 150px;
    background-color: aliceblue;
    min-width: 100%;
    /* position: relative;
    left: 238px; */
    
}
.section2 {
    display: flex;
    gap: 40px;
}
h1{
    color: var(--General-Light-Red, #FFA3A3);
text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.10);
/* Desktop / H1 / Bold */
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.topmarket{
    color: var(--General-Light, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.meorep{
    color: var(--General-Light, #FFF);
/* Desktop / Subtitle / Regular */
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 158.333% */
min-width: 470px;
}
button{
    color: var(--General-Blue, #381DDB);

/* Desktop / Menu */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
text-transform: uppercase;
}
.b2{
    border: 1px solid var(--General-Blue, #381DDB);
    width:90px;
    height: 50px;
}
.b1{
    border: none;
width: 100px;
}
  
.h3{
    color: var(--General-Dark, #222);
font-feature-settings: 'clig' off, 'liga' off;

/* Desktop / H3 */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 38px; /* 158.333% */

}
.container1 {
    position: relative;
}
.auth{
    background-color: #FFFFFF;
    width: 470px;
   height: 650px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 20px 100px rgba(34, 34, 34, 0.15));
display: flex;
flex-direction: column;
position: absolute;
/* left: 650px;
bottom: 600px; */
margin-top: 150px;
transform: translateX(170%);
padding: 60px;
gap: 40px;
}  

.b3{
    background: var(--General-Blue, #381DDB);
box-shadow: 0px 10px 30px 0px rgba(56, 29, 219, 0.20);
color: #FFFFFF;
padding: 14px ;
width:130px




}

input{
    width: 260px;
height: 48px;
}


.lastImg {
position: relative;
left: 200px;
top: -131px;


    width: 160px;
height: 160.001px;
flex-shrink: 0;
}
.b4{
    display: none;
    
}


 .imgg{
    height: 300px;
    width: 400px;
 }
 .sec{
    display: flex;
    align-items: center;
    justify-content: center;
gap: 60px;

 }
 .sec2{
    
    align-items: center;
    justify-content: center;
    margin-top: 150px;

 }
 .body-cont{
    padding-left: 170px;
    padding-right: 170px;
    background-color: white;
    margin-top: 120px;
 }
 .img9{
    height: 150px;
    width: 150px;
 }
 .img99{
    height: 75px;
    width: 75px;
 }
 .background{
    height: 100%;
    width: 400px;
    background-color: #FFA3A3;
    padding: 40px;
 }
.img98{
    height: 100px;
    width: 100px;
}
.blackarrow{
    height: 25px;
    width: 25px;
    margin-top: 50px;
    
}
.sec4{
    margin-top: 200px;
    gap: 40px;
}
.size{
    height: 20px;
    width: 20px;
}
.alignn{
    text-align: center;
    margin-bottom: 50px;
}
.gap{
    gap: 55px;
}

.nextimg{
    height: 300px;
    width: 350px;
}


.sec5{
    height: 400px;
    /* width: 1200px; */
    background-color: black;
   margin-top: 100px;
   text-align: center;
   padding: 50px;
}

 .ppartofsec5{
    
        background-color: black;
        color: white;
      
      
 }
 ::placeholder {
    color: white;
  }

.b09{
height: 55px;
border: none;
margin-left: 9px;
}
.lonelyp{
    padding-top: 20px;
}

.but{
    border: none;
    height: 35px;
}
.but2{
    border: none;
    height: 35px;
}

.justforp{
    width: 400px;
}


.lastNav{
    gap: 20px;
}



footer{
    margin-top: 150px;
    margin-bottom: 90px;
}


.icons{
    gap: 11px;
    justify-content: flex-end;
    margin-top: 15px;
}

.allicons{
    height: 20px;
    width: 20px;

}

.lastDiv {
    justify-content: space-between;
    
    display: flex;
    flex-direction: column
}





@media screen and (max-width: 1000px) {

    .auth {
        /* right:380px */
        position: relative;
        margin-left: -80%;
        margin-top: 0;
    }
    .div {
        padding: 49px 120px 336px 49px;
    }
    
    .card2 {
        background-color: blue;
    }
    .section2 {
        flex-wrap: wrap;
    }
   
    

    .b1 {
        padding: 5px 30px;
    }
    .b2 {
        padding: 11px 30px;
    }
    .header{
        padding-left: 39px;

    }
    .nav{
        gap: 10px;
    }
 .b4{
    
        display: none;
    } 


}
@media screen and (max-width: 700px) {
    .auth {
        /* right:380px */
        position: relative;
        margin-left: -110%;
        margin-top: 0;
    }
    .gap {
        flex-wrap: wrap;
    }

    footer {
        flex-wrap: wrap;
    }
    }



   @media screen and (max-width:550px) {
    .auth {
        /* right:380px */
        position: relative;
        margin-left: -150%;
        margin-top: 0;
    }
    .card2{
        display: none;

    }
    .header {
            padding-left: 39px;
            
            
}
header {
    min-width: 600px;
}
    .nav{
        display: none;
    }
   
    .div {
        padding-left: 30px;
        text-align: center;
    }
    /* .b4{
        display: block;
        padding: 14px;
        background-color: blue;
        color: white;
        width:100px;
        margin-top: 15px;
         position: relative;
        left: 360px;
        bottom: 36px; 
        
         

    } */
    
    
   
   }
   
